footer {
	background: rgba(0,0,0,0.9);
	color: white;
	letter-spacing: 1.8px;

	h3 {
		margin: 50px 0 30px;
		font-weight: bold;
	}

	h5 {
		margin-bottom: 35px;
	}

	i {
		margin-bottom: 30px;
		transition: all 0.3s ease;
	}

	a {
		&:hover {
			color: rgba(255, 255, 255, 0.5)
		}
	}

	.media {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}